<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th th:text="#{player.name}"/>
                <th th:text="#{player.score}">
            </tr>
        </thead>
        <tbody>
            <tr th:each="player : ${players}">
                <td th:text="${player.name}" />
                <td th:text="${player.score}" />
                <td><a th:href="@{'/app/players/edit/' + ${player.id}}" th:text="#{action.edit}"></a> </td>
                <td><a th:href="@{'/app/players/delete/' + ${player.id}}" th:text="#{action.delete}"></a> </td>
            </tr>
        </tbody>
    </table>
</body>
</html>